.comment{
    padding: 20px;
}
.comment img{
border-radius:50%;
}
.commentContent{
    background-color:rgba(52, 65, 107, 0.198);
}
.reset{
    display: flex;
    margin:auto;
}
.email{
    /* margin:auto; */
    margin-left: 10px;
    
}