.bgColorContent{
    background-color:rgba(128, 128, 128, 0.116);
}
.bgColorActions{
    background-color:rgba(4, 70, 224, 0.500);
}
.styleCard{
    /* background-color:rgba(4, 70, 224, 0.335); */
    margin:15px;
    padding:10px;
    border-radius: 5px;
}